@media (min-width: 501px) and (max-width: 1200px) { 
    .custom-link{
        margin-left: 0rem;
    }
    nav img{
        margin: 1rem;
        margin-left: 0rem;
    }
   .section{
    flex-direction: column;
   }
    .custom-link a{
        color: black;
        padding-left: 2rem;
    }
    .custom-link a:hover{
        color: black;
        opacity: 0.8;
        text-decoration: none;
    }
.position{
    width: 55%;
}

    .custom-images-title{
        flex-direction: column;
        
    }
    .custom-images-title-two{
        flex-direction: column-reverse;
    }
    .custom-images{
        width: 100%;
        height: auto;
        margin-top: 2rem;
        
        }
    .disc h4{
        padding-top: 1rem;
    }
    .disc-two h4{
        padding-top: 1rem;
    }
        
    
    .disc{
       
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .disc-two{
       
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .custom-title{
        margin-left: em;
    }

    .form{
        flex-direction: column;
        padding: 0;
        padding-left: 1rem;
        padding-top: 2rem;
        
    }
    iframe{
        width: 90%;
        height: 400px;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }
    input{
        width: 80%;
    
    }
    textarea{
        width: 80%;
    }
    .button{
        width: 80%;
        height: 40px;
        padding: 0;
        font-size: 1rem;
        margin-top: 1rem;
    }


.h-section img{
    width: 100%;
    height: auto;
}
 }